@import './fonts/fonts.css';
@import 'carbon-components-svelte/css/white.css';
@import 'swiper/css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	touch-action: pan-x pan-y !important;

	--c-white: rgb(255 255 255);
	--c-raisin-black: rgb(36 33 36);
	--c-raisin-black-a9: rgb(36 33 36 / 0.9);
	--c-electric-blue: rgb(44 117 255);
	--c-raisin-gray: rgb(146 144 146);

	--toastContainerTop: auto;
	--toastContainerRight: auto;
	--toastContainerBottom: 5vmin;
	--toastContainerLeft: calc(50vw - 8rem);
	--toastContainerZIndex: 50;

	--toastPadding: 0;
	--toastMsgPadding: 0;

	--toastBarBackground: var(--c-electric-blue);
	--toastBtnFont: 'Lexend';
}

* {
	font-family: 'Lexend' !important;
}

body,
html,
main {
	@apply tw-overscroll-contain;
}

button,
a {
	user-select: none !important;
	cursor: pointer !important;
	text-transform: inherit !important;
}

button,
label,
input,
a {
	-webkit-tap-highlight-color: transparent !important;
}

.custom-tag {
	@apply tw-cursor-pointer
    tw-bg-white-crystal
    tw-text-raisin-black
    dark:tw-bg-electric-blue-pre-crystal
    dark:tw-text-white;

	& span {
		@apply tw-text-[10px]
      ultra-desktop:tw-text-sm;
	}
}

.toast {
	& ._toastMsg {
		align-self: stretch;
	}

	&.copy {
		& ._toastItem {
			@apply tw-rounded
        tw-duration-250
        tw-text-raisin-black
        dark:tw-text-white
        tw-bg-white-crystal
        dark:tw-bg-raisin-black-pre-crystal;
		}
	}

	&.connection-broken {
		& ._toastItem {
			@apply tw-rounded
        tw-duration-250
        tw-text-white
        tw-bg-red-pre-crystal;
		}
	}

	&.connection-restored {
		& ._toastItem {
			@apply tw-rounded
        tw-duration-250
        tw-text-white
        tw-bg-green-pre-crystal;
		}
	}
}

.out-in-transition {
	display: grid;

	& > * {
		grid-area: 1/1/ 2/2;
	}
}

.scaleable-shadow {
	& > * {
		@apply tw-transition-all
      tw-duration-250;
	}

	&:hover > * {
		@apply tw-scale-75
      tw-shadow-raisin-black-crystal
      dark:tw-shadow-electric-blue-crystal
      tw-shadow-xl;
	}

	&.active {
		& > span {
			@apply tw-text-white
        tw-bg-raisin-black
        dark:tw-bg-electric-blue;
		}
	}
}

.custom-modal {
	@apply tw-p-3;

	&.no-footer {
		& .bx--modal-content {
			@apply tw-m-0 tw-py-3;
		}
	}

	&.adaptive-size {
		& .bx--modal-container {
			@apply tw-h-fit
      mobile:tw-h-[30vmax]
      laptop:tw-h-[30vmin];
		}
	}

	&.auto-size {
		& .bx--modal-container {
			@apply tw-h-auto
      tw-w-auto;
		}
	}

	& .bx--modal-container {
		@apply tw-bg-white-crystal
      dark:tw-bg-raisin-black-pre-crystal
      tw-backdrop-blur
      tw-rounded-xl
      tw-static;

		& *:not(button) {
			@apply tw-text-raisin-black
        dark:tw-text-white;
		}

		& button {
			@apply tw-p-2 
        tw-flex
        tw-justify-center
        tw-text-raisin-black
        hover:tw-text-white
        active:tw-text-white
        hover:tw-bg-raisin-black
        active:tw-bg-raisin-black
        dark:hover:tw-bg-white
        dark:active:tw-bg-white
        tw-border-raisin-black
        dark:tw-border-white;
		}

		& .bx--modal-close {
			@apply tw-rounded-tr-xl
        focus:tw-border-raisin-black;

			& svg {
				@apply tw-fill-raisin-black
          dark:tw-fill-white;
			}

			&:hover svg {
				@apply tw-fill-white dark:tw-fill-raisin-black;
			}
		}
	}

  &.warning {
		& h3.bx--modal-header__heading {
			@apply tw-text-dark-orange dark:tw-text-orange;
		}

    & .bx--modal-content {
      @apply tw-text-base;
    }
	}

  &.error {
		& h3.bx--modal-header__heading {
			@apply tw-text-red;
		}

    & .bx--modal-content {
      @apply tw-text-base;
    }
	}
}

.custom-uploader {
	block-size: 100%;
	inline-size: 100%;

	& .bx--file-browse-btn {
		max-inline-size: none;
		block-size: inherit;
	}

	& .bx--file__drop-container {
		block-size: inherit;
		inline-size: inherit;
	}
}

.custom-toggle {
	flex: unset;
	-webkit-tap-highlight-color: transparent !important;

	& > * {
		border-color: red !important;
		outline-color: red !important;
	}

	& .bx--toggle__switch::before {
		background-color: var(--c-raisin-gray);
	}

	& .bx--toggle-input:disabled + .bx--toggle-input__label {
		opacity: 0.5;
	}

	&
		.bx--toggle-input:checked
		+ .bx--toggle-input__label
		> .bx--toggle__switch:before {
		background-color: var(--c-electric-blue);
	}

	&
		:is(.bx--toggle-input:focus, .bx--toggle-input:active)
		+ .bx--toggle-input__label
		> .bx--toggle__switch::before {
		box-shadow: 0 0 0 1px var(--c-raisin-black), 0 0 0 3px white;
	}
}

.custom-multiselect {
	--sms-padding: 0.5rem;

	& .multiselect {
		@apply tw-rounded-lg
      tw-duration-250
      tw-w-full
      tw-border-2
      tw-border-raisin-black
      dark:tw-border-white;
	}

	& input {
		@apply tw-text-raisin-black
      dark:tw-text-white;
	}

	& .options {
		@apply tw-max-h-[45vmin]
      tw-bg-white
      dark:tw-bg-raisin-black
      tw-shadow-raisin-black-crystal
      dark:tw-shadow-electric-blue-crystal;

		& li.active {
			@apply tw-bg-raisin-black-crystal
        dark:tw-bg-electric-blue-crystal;
		}
	}

	& .selected {
		& li {
			@apply tw-text-white
        tw-bg-raisin-black
        dark:tw-bg-electric-blue;
		}
	}
}

.img-hide-alt {
	font-size: 0;
}
